body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("C:\Users\jnane\Downloads\pexels-lum3n-44775-167699.jpg") 
              no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-top: 10px;
}
